<a href="https://colab.research.google.com/github/Rogerio-mack/TIC_2022_1S/blob/main/Projeto_Integrado_I_template.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<img src="http://meusite.mackenzie.br/rogerio/mackenzie_logo/UPM.2_horizontal_vermelho.jpg"  width=300, align="right">
<br>
<br>
<br>
<br>
<br>

# TIC Projeto I: ***Título do seu projeto***
---

*Siga esse template para entrega do seu projeto. O código deste notebook precisa ser 100% executável.*

In [ ]:
#@title Identificação do Grupo

#@markdown Turma
Turma = '7O' #@param {type:"string"}
#@markdown Integrantes do Grupo (*informe \<TIA\>,\<nome\>*)
Aluno1 = '1115665, Adriana Fujita' #@param {type:"string"} 
Aluno2 = '1115677, Daniel Henrique' #@param {type:"string"}
Aluno3 = 'None' #@param {type:"string"}
Aluno4 = 'None' #@param {type:"string"}
Aluno5 = 'None' #@param {type:"string"}

# Apresentação do Trabalho

*Apresente resumidamente o trabalho justificando os setores e eventos escolhidos.*

# Base de Dados Bruta

*Descreva aqui os dados utilizados, discuta eventuais transformações e/ou seleções dos dados. Faça o acesso aos dados brutos a partir de um repósito público na internet (**não empregue dados locais do seu computador**)*, apresente aqui o `head()` dos dados.

# Apresentação da Análise 

*Apresente e justifique os dados (indicadores) e prazos empregados na análise. Indique e justifique eventuais cálculos, seleções, agregações e transformações efetuadas para obtenção da análise.*

*Apresente e discuta os resultados. Apresente de forma clara os resultados incluindo tabelas e gráficos que sumarizem a análise.*

*Todos esses itens devem ser produzidos a partir dos dados brutos com Python intercalando seções de texto, código e as saídas produzidas.*

## Análise do Setor 1

### Análise `<nome-da-análise>`

*Descreva aqui a análise realizada. Repita este e o próximo bloco quantas vezes julgar necessário de acordo com o número de analises.*

In [ ]:
# seu código

## Análise do Setor 2

### Análise `<nome-da-análise>`

*Descreva aqui a análise realizada. Repita este e o próximo bloco quantas vezes julgar necessário de acordo com o número de analises.*

In [ ]:
# seu código

# Conclusão 

*Apresente a conclusão do seu estudo (qual setor se mostrou mais resiliente) e discuta esses resultados.*

# Referências 

*Indique as referências empregadas, especialmente as fontes de dados.*

---

In [ ]:
#@title Avaliação
Completo = 10 #@param {type:"slider", min:0, max:10, step:1}
#@markdown Projeto cumpre todos os itens pedidos. 
Relevancia = 9 #@param {type:"slider", min:0, max:10, step:1}
#@markdown As seleções de dados e eventos para análise são relevantes e justificados. 
Tecnicas = 6 #@param {type:"slider", min:0, max:10, step:1}
#@markdown As técnicas de empregadas são adequadas e corretamente aplicadas.
Apresentacao = 7 #@param {type:"slider", min:0, max:10, step:1}
#@markdown A apresentação dos resultados é clara e objetiva.
Analise = 8 #@param {type:"slider", min:0, max:10, step:1}
#@markdown As premissas de análise se justificam e a analise é correta. 
Conclusao = 7 #@param {type:"slider", min:0, max:10, step:1}
#@markdown As conclusões são justificadas e relevantes
Bonus = 0.5 #@param {type:"slider", min:0, max:1, step:0.5}
#@markdown A critério do professor por inovações na abordagem e no uso de técnicas de Análise de Dados

In [ ]:
#@markdown ### Nota Final
nota = Completo + Relevancia + Tecnicas + Apresentacao + Analise + Conclusao 

nota = nota / 6 + Bonus

print(f'Nota final do trabalho {nota :.1f}')

import numpy as np
import pandas as pd

alunos = pd.DataFrame()

lista_tia = []
lista_nome = []

for i in range(1,6):
  exec("if Aluno" + str(i) + " !='None':  lista = Aluno" + str(i) + ".split(','); lista_tia.append(lista[0]); lista_nome.append(lista[1].upper())")

alunos['tia'] = lista_tia
alunos['nome'] = lista_nome
alunos['nota'] = np.round(nota,1)
print()
alunos

Nota final do trabalho 8.3

       tia              nome  nota
0  1115665    ADRIANA FUJITA   8.3
1  1115677   DANIEL HENRIQUE   8.3